/* Reset */
html,
body,
div,
h1,
h2,
h3,
p,
ul,
li,
table,
th,
td,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}


#container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="number"],
input[type="text"],
button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 10%;
  box-sizing: border-box;
}


button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  width: 35%;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
}


#mostrarResultado {
  background-color: #28A745;
  color: #fff;
  display: none;
}


@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #container {
    border-radius: 0;
  }

  table {
    font-size: 14px;
  }
}